.notfound{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 6em;
}

.pokeball{
  margin-right: 24px;
  height: 240px;
  transform: rotate(-15deg);
  transform: scaleX(-1);
}