.pokedexPage{
  padding: 4em 8em;
}

.gridContainer{
  padding: 4em 0em;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 2em;
}

.loadBtn-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
}

.pokemonCard {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}