*{
  font-family: system-ui, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root{
  height: 100%;
}

.app-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

main{
  flex: 1; /* grows to push footer down */
}

/*light mode */
body {
  background: white;
  color: #212529;
}

/* dark mode */
.dark body {
  background: #212529;
  color: white;
  .stats, .text-box{
    color: #212121;
    }
}

a{
  text-decoration: none;
}